{% load static %}

<div class="footer-area footer-padding" style="background:#29292A">
           <div class="container" style="background:#29292A">
               <div class="row d-flex justify-content-between" style="background:#29292A">
                   <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6" style="background:#29292A">
                      <div class="single-footer-caption mb-50" style="background:#29292A">
                        <div class="single-footer-caption mb-30">
                             <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt="" style="width:140px;"></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Купити електронну сигарету в Україні вже давно не складає труднощів, і навіть якщо ви живете у віддалених частинах нашої країни, не бійтесь замовляти електронні сигарети через компанії перевізників, адже пар це – самий простий і безболісний спосіб кинути палити.</p>
                               </div>
                            </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Інформація</h4>
                               <ul>
                                   <li><a href="#"> Головна</a></li>
                                   <li><a href="#"> Програма лояльності</a></li>
                                   <li><a href="#"> Доставка та оплата</a></li>
                                   <li><a href="#">  Гарантія і повернення товару</a></li>
                                   <li><a href="#">  Блог</a></li>
                                   <li><a href="#">  Контакти</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Категорії</h4>
                               <ul>
                                   <li><a href="#"> JUUL</a></li>
                                   <li><a href="#"> Pod-системи</a></li>
                                   <li><a href="#"> Атомайзери</a></li>
                                   <li><a href="#"> Рідина</a></li>
                                   <li><a href="#"> Комплектуючі</a></li>
                                   <li><a href="#"> Моди</a></li>
                                   <li><a href="#"> Самозаміс</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Ми в мережі</h4>
                               <ul>
                                <li><a href="#">Ми дуже любимо наших передплатників у соціальних мережах і завжди тішимо їх цікавими конкурсами</a></li>
                               </ul>
                               <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
                           </div>
                       </div>
                   </div>
               </div>
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                        © Інтернет-магазин електронних сигарет – «Soska Vape Shop» 2015-2023</div>
                </div>
            </div>
           </div>
       </div>