{% extends '_layouts/base.html' %}

{% load static %}

{% block breadcrumb %}
    <div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ title }}</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">{{ app }}</a></li>
                    <li class="active">{{ page }}</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
{% endblock breadcrumb %}

{% block cart %}
    <section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col-12" >
        <div class="card card-registration card-registration-2" style="border-radius: 15px;" >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Замовлення</h1>
                  </div>
                  <hr class="my-4">

                  {% for order in final_list %}
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/media/{{order.product_photo}}"
                        class="img-fluid rounded-3" alt="-">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{order.id}}</h6>
                      <h6 class="text-muted">{{order.category_name}}</h6>
                      <h6 class="text-black mb-0">{{order.product_name}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0" id="tovar" value="{{order.amount}}" >{{order.product_price}} грн</h6>
                    </div>
                  </div>
                  {% endfor %}


                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/orders" class="text-body" style="text-decoration:none;font-size:16px;color:#29292A"><i
                          class="fas fa-long-arrow-alt-left me-2" style="color:#F7A900"></i> Повернутися до кошика</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Разом:</h3>
                  <hr class="my-4">

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Сума до сплати: </h5>
                    <h5>{{total_price}} грн</h5>
                  </div>

                  <a href="/orders/confirm/{{init_list}}" style="text-decoration:none;" id="bill-btn"><button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark" style="border:none">Підтвердити<br>замовлення</button></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
{% endblock cart %}